#translateAnki {
    position: absolute;
    border:1px solid #eeeeee;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 45px;
    z-index: 999;
    text-align: center;
    max-width: 500px;
    box-shadow: 5px 5px 20px rgba(46, 86, 229, 0.4);
}

#translateTextAnki {
    padding-top: 20px;
    font-size: 1.2em;
    display: inline-block;
    color: black;
}

.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }
.floating-button:hover {
    background: #2e93e5;
    box-shadow: 0 15px 20px rgba(46, 86, 229, 0.4);
    color: white;
    transform: translateY(-7px);
}